$h2-font-size: 1.3rem;
$table-th-font-weight: 300;

$colors: (
  brick-700: hsl(14, 45%, 36%),
  wine-800: hsl(332, 51%, 32%),
  pink-100: hsl(330, 100%, 98%),
  peach-200: hsl(30, 54%, 90%),
  beige-300: hsl(30, 18%, 87%),
  tan-700: hsl(30, 10%, 34%),
  brown-900: hsl(24, 5%, 18%),
);
